fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
pymupdf
pillow
reportlab
numpy
pandas
tqdm

torch
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-text-splitters
gTTS
SpeechRecognition
pydub
pytesseract
requests
httpx